<div>
    <div *ngIf="selectedRecipe">
        <h2>{{selectedRecipe.name}} </h2>
        <div><span>id:{{selectedRecipe.id}}</span></div>
        <div>
            <label>name:
                <input [(ngModel)]="selectedRecipe.name" placeholder="name">
            </label>
            <div class ="recipeImage"><img src="{{selectedRecipe.imageUrl}}"></div>
            <ul class ="recipeDisplay">
                <li *ngFor="let ingredient of selectedRecipe.ingredients; index as i;">
                    <div class="full-text">{{ingredient.text}}</div>
                    <span>{{ingredient.food | titlecase}}</span>
                    <!-- use observable to track input change? -->
                    <input class="quantity" id="quantity-{{i}}" [(ngModel)]="ingredient.quantity"/>
                    <select [(ngModel)]="ingredient.measure">
                        <!-- Populate 'selected' option if its the same as recipe default -->
                        <!-- <span *ngIf="meas.name === ingredient.measure">
                            <option *ngFor="let meas of conversionsArr" 
                                value="{{meas.name}}" selected>
                                {{meas.name}}
                            </option>
                        </span> -->
                        <!-- Populate not-selected option if its the same as recipe default -->
                        <!-- <span *ngIf="meas.name !== ingredient.measure"> -->
                            <option *ngFor="let meas of conversionsArr"
                                value="{{meas.name}}">
                                {{meas.name}}
                            </option>
                        <!-- </span> -->
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>
