<div>
    <h3>scale</h3>
    <div *ngIf="selectedRecipe">
        <h2>{{selectedRecipe.name}} </h2>
        <div>
            <div class ="recipeImage"><img src="{{selectedRecipe.imageUrl}}"></div>
            <ul class ="recipeDisplay">
                <li *ngFor="let ingredient of selectedRecipe.ingredients; index as i;">
                    <span>{{ingredient.food | titlecase}}</span>
                    <!-- use observable to track input change? -->
                    <input class="quantity" id="quantity-{{i}}" [(ngModel)]="ingredient.quantity"/>
                    <select [(ngModel)]="ingredient.measure" (change)="onMeasurementChanged(ingredient)">
                        <option *ngFor="let meas of conversionsArr"
                            value="{{meas.name}}">
                            {{meas.name}}
                        </option>
                    </select>
                    <div class="full-text">{{ingredient.originalText}}</div>
                </li>
            </ul>
        </div>
    </div>
    <p *ngIf="!selectedRecipe">☝🏼</p>   
</div>
