div.recipeImage {
    height: 300px;
    overflow: hidden;
    img {
        width: 100%;
        position: relative;
        top: -50%;  
    }
}

ul.recipeDisplay li {
    list-style-type: none;
    padding: 5px 0;

    div.full-text{
        font-style: italic;
        font-size: 15px;
        padding: 0 10%;
    }
    span, input, select{
        font-size: 18px !important;
    } 
    span, input {
        margin: 0 1% 0 0;
    }
}