
/* Mobile first - default styles */

body {
	padding: 50px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: #bbb;
}

div {
	padding: 0px 25px;
}

ul {
	list-style-type: none;
}

#mchaleWrap h2 {
	clear: both;
}

#mchaleWrap input, 
#mchaleWrap select {
	color: #000;
}

#mchaleWrap .recipePreview {
	float: left;
    width: 250px;
    min-height: 250px;
    height: auto;
    opacity: 0.85;
    cursor: pointer;
    transition: all ease 1.5s;
}

#mchaleWrap .recipePreview:hover {
	opacity: 1.5;
	width: 275px;
	z-index: 1;
}

#mchaleWrap .recipePreview,
#mchaleWrap .recipeDisplay {
	padding: 20px;
}

#mchaleWrap .recipeInfo {
	background: #000;
    width: 100%;
}

i.material-icons {
	cursor:pointer;
}
/*Small devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
}*/
	
/*Medium devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {	
}*/
	
/*Large devices (large desktops, 1200px and up)*/ 
/*@media (min-width: 1200px) {
}*/
